@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');


html {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

/* NAVBAR */
nav {
    padding: 16px 14px;
    background-color: #FFE794;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
}

.navMain {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navIcon {
    width: 70px;
    height: auto;
}

.sidebarBtn {
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.sidebarBtn > img {
    width: 40px;
    height: auto;
}

.sidebarBtn:hover {
    background-color: rgb(243, 186, 101);
}

.navTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

/* MAIN */
main {
    height: 100%;

    display: grid;
    grid-template-columns: min(100%,300px) 1fr;
}

/* SIDEBAR */
.sidebar {
    padding: 23px;
    background-color: #FFFBEF;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.2rem;
}

.sidebar > h2 {
    font-size: 1.8rem;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.newProjectBtn {
    color: white;
    background-color: rgba(209, 198, 158, 0.7);
}

.newProjectBtn:hover {
    background-color: rgba(165, 156, 125, 0.7);
}

.projectItem {
    width: 100%;
    height: 50px;

    color: #535151;
    background-color: rgba(244, 208, 137, 0.4);
}

.projectItem, .newProjectBtn {
    box-shadow: 0 2px 8px rgba(205, 205, 205, 0.25);
    border-radius: 8px;
    font-size: 22px;
    height: 50px;
}

.container {
    background-color: #FFE1BD;
}